h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 90px;
    text-align: center;
} /* en fontfamily me elige la primera, si no la tengo la segunda y asi sucesivamente