{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Reset Password" %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">{{ _("Reset Password") }}</div>
                <div class="card-body">
                    <p>{{ _("Please enter the email address associated with your account. We will send you a link to reset your password.") }}</p>
                    <form method="post" action="{% url 'account_reset_password' %}">
                        {% csrf_token %}
                        {{ form.email.errors }}
                        <div class="form-group">
                            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                            {{ form.email }}
                        </div>
                        <button type="submit" class="btn btn-primary">{{ _("Reset Password") }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
